.welcome-icon {
  transform: scale(2.5);
}

.task-details headerbar {
  transition: 200ms ease-out;
  transition-property: box-shadow, background-color;
}

.task-details headerbar.hidden {
  background-color: transparent;
  box-shadow: inset 0 -1px transparent;
}

.inactive-button, .inactive-button:hover {
  background-color: unset;
}

.error_message {
  color: red;
}
