[Desktop Entry]
Name=Furtherance
GenericName=Time Tracker
Comment=Track your time without being tracked
Exec=furtherance
Icon=io.unobserved.furtherance
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
Keywords=timer;tracker;clock;tasks;productivity;
