<?xml version="1.0" encoding="UTF-8" ?>

<Wix
    xmlns="http://wixtoolset.org/schemas/v4/wxs"
    xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

    <Package
        Name="Furtherance"
        Version="$(PackageVersion)"
        Manufacturer="Unobserved"
        Language="1033"
        UpgradeCode="cd451d47-144b-441e-8ac3-764ff6743fc3"
        UpgradeStrategy="majorUpgrade"
        Scope="perMachine">

        <MajorUpgrade Schedule="afterInstallInitialize"
            DowngradeErrorMessage="A newer version of [ProductName] is already installed. Setup will now exit."/>

        <Media Id="1" Cabinet="media1.cab" EmbedCab="yes"/>

        <StandardDirectory Id="ProgramFiles6432Folder">
            <Directory
                Id="INSTALLFOLDER"
                Name="!(bind.Property.ProductName)"
            />
        </StandardDirectory>

        <ComponentGroup Id="MainComponents" Directory="INSTALLFOLDER">

            <Component>
                <File Id="Application" DiskId="1" Source="target/release/furtherance.exe" KeyPath="yes">
                    <Shortcut
                        Id="ApplicationStartMenuShortcutInFile"
                        Name="Furtherance"
                        Icon="FurtheranceIcon.exe"
                        Directory="ProgramMenuFolder"
                        Description="Time tracker"
                        Advertise="yes"
                        WorkingDirectory="INSTALLFOLDER">
                        <ShortcutProperty Key="System.AppUserModel.ID" Value="io.unobserved.furtherance" />
                    </Shortcut>
                </File>
            </Component>

            <Component>
                <RegistryKey Root="HKLM" Key="SOFTWARE\Furtherance" ForceDeleteOnUninstall="yes" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Furtherance\Capabilities" Name="ApplicationDescription" Value="Furtherance - Time tracker" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Furtherance\Capabilities" Name="ApplicationIcon" Value="[INSTALLFOLDER]Furtherance.exe,0" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Furtherance\Capabilities" Name="ApplicationName" Value="Furtherance" Type="string" />

                <RegistryValue Root="HKLM" Key="SOFTWARE\Furtherance\Capabilities\DefaultIcon" Value="[INSTALLFOLDER]Furtherance.exe,1" Type="string" />

                <RegistryValue Root="HKLM" Key="SOFTWARE\Furtherance\Capabilities\shell" Value="open" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Furtherance\Capabilities\shell\open\command" Value="&quot;[INSTALLFOLDER]Furtherance.exe&quot; &quot;%1&quot;" Type="string" />

                <RegistryValue Root="HKLM" Key="SOFTWARE\RegisteredApplications" Name="Furtherance" Value="SOFTWARE\Furtherance\Capabilities" Type="string" />
            </Component>

        </ComponentGroup>

        <Icon Id="FurtheranceIcon.exe" SourceFile="assets/windows/256x256.ico" />

        <Property Id="ARPPRODUCTICON" Value="FurtheranceIcon.exe"/>
        <Property Id="APPHELPLINK" Value="https://furtherance.app/"/>

        <WixVariable Id="WixUILicenseRtf" Value="wix/license.rtf"/>
        <WixVariable Id="WixUIDialogBmp" Value="wix/dialog.png"/>
        <WixVariable Id="WixUIBannerBmp" Value="wix/banner.png"/>

        <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
    </Package>
</Wix>
